@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

body{
    font-family: 'Akronim', cursive;
    
}

.parent{
    text-align: center;
font-size: xx-large;
}

   
        
    .wrapper { 
       
        height: 100%;
        width: 100%;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
      background-size: 1800% 1800%;
      z-index: -1;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
    


.hems{
    text-align: center;
    background-color: tomato;
    width: 97vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 2%;
    
   
}

#glow{
text-align: center;
    box-shadow: yellow 0px 30px 30px, yellow 0px -12px 30px, yellow 0px 4px 6px, yellow 0px 12px 13px,yellow 0px -3px 5px;
    background-color: tomato;
    width: 480px;
    height: 480px;
    
    
}

#glow2{
    box-shadow: yellow 0px 30px 30px, yellow 0px -12px 30px, yellow 0px 4px 6px, yellow 0px 12px 13px,yellow 0px -3px 5px;
    background-color: tomato;
    width: 480px;
    height: 480px;
    
}

#glow3{
    box-shadow: yellow 0px 30px 30px, yellow 0px -12px 30px, yellow 0px 4px 6px, yellow 0px 12px 13px,yellow 0px -3px 5px;
    background-color: tomato;
    width: 480px;
    height: 480px;
    
}